<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
  <![endif]-->
  <link rel="stylesheet" href="{% if site.development %}{{ site.development }}{% endif %}/css/normalize.css" />
  <link rel="stylesheet" href="{% if site.development %}{{ site.development }}{% endif %}/css/style.css" />
</head>
<body>