    <aside>
      <h1>Crossfit<br /><span class="red">OTS3</span></h1>
      <strong><p class="red">Only The Strong Shall Survive</p></strong>
      <strong><p>"When they come...it is the weak ones they will eat first"</p></strong>
      <p>817-726-7808<br />
      <a href="mailto:jason@crossfitots3.com">jason@crossfitots3.com</a></p>
      <h2 class="red">Class Schedule</h2>
      <section>
        <h3>Morning Classes</h3>
        <p>530 AM - Tuesday, Wednesday, and Friday</p>
        <p>830 and 930 AM - Monday, Tuesday, Thursday, and Friday</p>
        <p>830 AM - Wednesday</p>
      </section>
      <p>____________</p>
      <section>
        <strong>Evening Classes</strong>
        <p>430, 530, and 630 PM - Monday, Tuesday, and Thursday</p>
        <p>430 PM - Wednesday</p>
        <p>4, 5, and 6 PM - Friday</p>
      </section>
      <section>
        <h3>Saturday Class</h3>
        <p>Team WOD - 8 AM</p>
      </section>
      <section>
        <h3>On-Ramp Class Schedule</h3>
        <p>Wednesday 930 AM and 530 PM</p>
        <p>Friday 930 AM and 530 PM</p>
        <p>Saturday 930 AM</p>
      </section>
      <p>Make-up Classes are by appointment only</p>
    </aside>