<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="3;url=http://crossfitots3.com/{{ page.red_url }}">
  <link rel="canonical" href="http://crossfitots3.com/{{ page.red_url }}">
  <script>
     window.location.href = "http://crossfitots3.com/{{ page.red_url }}"
  </script>
  <title>Page Redirection</title>
</head>
<body>
  <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
  If you are not redirected automatically, follow the <a href='http://crossfitots3.com/{{ page.red_url }}'>link to CrossFit OTS3</a>
</body>
</html>